.git
.github
.vscode
.idea

**/node_modules
frontend/dist

**/__pycache__
*.pyc
*.pyo
.pytest_cache

venv/
env/
.venv/

models/random_forest_model.joblib

results/*.pcap
results/*.html
results/*.json

.env
.env.*
!.env.example
**/.DS_Store
*.log
